[Unit]
Description={{ tomcat_instance }} Tomcat7 Service
After=network.target

[Service]
Type=forking
WorkingDirectory={{ tomcat_working_directory }}
User={{ tomcat_system_user }}
Group={{ tomcat_system_group }}
ExecStart={{ tomcat_user_home }}/{{ tomcat_instance }}/bin/startup.sh
ExecStop={{ tomcat_user_home }}/{{ tomcat_instance }}/bin/shutdown.sh
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
