[Unit]
Description={{ tomcat_instance }} Tomcat7 Service
After=network.target

[Service]
Type=forking
WorkingDirectory={{ tomcat_Working_directory }}
User=root
Group=root
ExecStart={{ tomcat_user_home }}/{{ tomcat_instance }}/bin/startup.sh
ExecStop={{ tomcat_user_home }}/{{ tomcat_instance }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
