[submodule "roles/server-monitoring"]
	path = roles/server-monitoring
	url = git@github.com:onaio/ansible-server-monitoring.git
[submodule "roles/collectd"]
	path = roles/collectd
	url = git@github.com:onaio/ansible-collectd.git
[submodule "roles/hostname"]
	path = roles/hostname
	url = git@github.com:onaio/ansible-hostname.git
[submodule "roles/certbot"]
	path = roles/certbot
	url = git@github.com:onaio/ansible-certbot.git
