host={{ opensrp_couchdb_server }}
port={{ opensrp_couchdb_port }}
maxConnections=20
connectionTimeout=1000
socketTimeout=10000
username={{ opensrp_couchdb_user }}
password={{ opensrp_couchdb_password }}