check process couchdb-lucene
 with pidfile /var/run/couchdb-lucene.pid
 start program "/etc/init.d/couchdb-lucene start"
 stop program "/etc/init.d/couchdb-lucene stop"

if 1 restart within 1 cycles then exec "/bin/sh  -c 'PROCESS=CouchDB-Lucene SLACK_MONIT_WEBHOOK={{ slack_monit_webhook }} MONIT_PROCESS_ACTION=(was restarted) /opt/monit/slack-webhook.sh'"
if 5 restarts within 5 cycles then exec "/bin/sh -c 'PROCESS=CouchDB-Lucene SLACK_MONIT_WEBHOOK={{ slack_monit_webhook }} MONIT_PROCESS_ACTION=(needs attention! It has been restarted 5 times) /opt/monit/slack-webhook.sh'""
