[mysql]
host={{ mysql_host }}
user={{ mysql_backup_user }}
password="{{ mysql_backup_password }}"

[mysqldump]
host={{ mysql_host }}
user={{ mysql_backup_user }}
password="{{ mysql_backup_password }}"
force
opt
routines
triggers
max_allowed_packet=250M 
