#!/bin/bash
databaseMigration() {
  curl -L  "https://github.com/mybatis/migrations/releases/download/mybatis-migrations-3.3.1/mybatis-migrations-3.3.1-bundle.zip" > /tmp/mybatis-migrations-3.3.1-bundle.zip
  if ! $1
  then
      mkdir -p {{opensrp_psql_table_space_dir}}/core
      mkdir -p {{opensrp_psql_table_space_dir}}/error
      mkdir -p {{opensrp_psql_table_space_dir}}/schedule
      mkdir -p {{opensrp_psql_table_space_dir}}/feed
      mkdir -p {{opensrp_psql_table_space_dir}}/form
      chown -R postgres {{opensrp_psql_table_space_dir}}/
  fi
  unzip -o /tmp/mybatis-migrations-3.3.1-bundle.zip -d /opt/mybatis
  export MIGRATIONS_HOME=/opt/mybatis/mybatis-migrations-3.3.1
  MIGRATIONS=$MIGRATIONS_HOME/bin
  export PATH=$MIGRATIONS:$PATH
  migrate  up --path=configs/assets/migrations --env=development
}
databaseMigration $1
