# Hibernate SQL dialect
connection.dialect = org.hibernate.dialect.PostgreSQLDialect

# JDBC driver class
connection.driver_class = org.postgresql.Driver

# Database connection URL
connection.url = {{ dhis_postgresql_connection_url }}

# Database username
connection.username = {{ dhis_postgresql_user }}

# Database password
connection.password = {{ dhis_postgresql_password }}

# Database schema behavior, can be validate, update, create, create-drop
connection.schema = update

# Encryption password (sensitive)
encryption.password = {{ dhis_postgresql_encryption_password }}
